h1 {
  font-family: $font_family2;
  font-weight: 400;
  font-size: 25px;
  line-height: 41px;
  color: #fff;
  margin-bottom: 30px;
  @media (min-width: 768px) {
    //font-size: 50px;
    //line-height: 65px;
  }
  @media (min-width: 1200px) {
    color: $font_color2;
    font-size: 79px;
    line-height: 109px;
    margin-bottom: 0;
  }
  @media (min-width: 1500px) {
    font-size: 79px;
    line-height: 109px;
  }
  @media (min-width: 1920px) {
    font-size: 79px;
    line-height: 109px;
  }
  &.h1_index {
    color: #fff;
    padding-top: 0;
    margin-bottom: 53px;
    line-height: 55px;
    text-align: center;
    .sp1 { font-size: 33px; }
    .sp2 { font-size: 28px; }
    .sp3 { font-size: 37px; }
    @media (min-width: 768px) {
      line-height: 55px;
    }
    @media (min-width: 992px) {
      text-align: left;
      line-height: 64px;
      margin-bottom: 26px;
      .sp1 { font-size: 40px; }
      .sp2 { font-size: 35px; }
      .sp3 { font-size: 45px; }
    }
    @media (min-width: 1200px) {
      text-align: left;
    }
    @media (min-width: 1500px) {
      line-height: 95px;
      margin-bottom: 0;
      position: relative;
      right: -8px;
      .sp1 { font-size: 63px; }
      .sp2 { font-size: 63px; }
      .sp3 { font-size: 60px; }
    }
    @media (min-width: 1920px) {
      line-height: 109px;
      right: -20px;
      .sp1 { font-size: 79px; }
      .sp2 { font-size: 79px; }
      .sp3 { font-size: 68px; }
    }
  }
  &.h1_login {
    @media (min-width: 768px) {
      font-size: 55px;
      line-height: 80px;
      margin-bottom: 50px;
    }
    @media (min-width: 992px) {
      color: $font_color;
      margin: 0;
    }
    @media (min-width: 1200px) {
      font-size: 52px;
      line-height: 56px;
      margin: 0;
    }
    @media (min-width: 1500px) {
      font-size: 68px;
      line-height: 80px;
    }
    @media (min-width: 1920px) {
      font-size: 79px;
      line-height: 109px;
    }
  }
}
.word-break {
  word-break: break-word;
}
h2 {
  font-family: $font_family2;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: $font_color2;
  text-align: left;
  margin-bottom: 35px;
  margin-top: 30px;
  @media (min-width: 768px) {
    margin-bottom: 60px;
    margin-top: 0;
  }
  @media (min-width: 992px) {
    font-size: 47px;
    line-height: 60px;
  }
  &.h2_list {
    margin-top: 26px;
    margin-bottom: 43px;
    @media (min-width: 768px) {
      margin-bottom: 60px;
      margin-top: 0;
    }
    @media (min-width: 1200px) {
      margin-bottom: 99px;
    }
  }
  &.h2_login {
    margin-top: 44px;
    margin-bottom: 37px;
    @media (min-width: 768px) {
      margin-bottom: 60px;
    }
    @media (min-width: 992px) {
      color: rgba(255, 255, 255, 0.39);
    }
    @media (min-width: 1200px) {
      margin-top: 49px;
      margin-bottom: 99px;
    }
  }
  &.h2_unsubscribe {
    @media (min-width: 1200px) {
      max-width: 315px;
    }
    @media (min-width: 1920px) {
      max-width: 383px;
    }
  }
}
h3 {
  font-family: $font_family2;
  font-weight: 400;
  color: #3E3842;
  font-size: 14px;
  line-height: 24px;
  margin-top: 35px;
  margin-bottom: 26px;
  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 24px;
    margin-top: 80px;
    margin-bottom: 40px;
  }
}
p {
  line-height: 32px;
  margin-bottom: 1.5rem;
  @media (min-width: 768px) {
    line-height: 45px;
  }
  b {
    &.bmark {
      font-weight: 700;
      font-family: $font_family;
    }
  }
}
a {
  color: $link_color;
  text-decoration: none;
  &:hover {
    color: $link_hover_color;
    text-decoration: none;
  }
}
.link1 {
  font-family: $link_txt_family;
  font-weight: 300;
  font-size: 16px;
  @media (min-width: 768px) {
    font-size: 25px;
  }
}
.link2 {
  font-family: $font_family2;
  color: $link2_color;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  &:hover {
    //color: $link2_hover_color;
    opacity: 0.7;
  }
  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 58px;
  }
}
.link3 {
  font-family: $font_family;
  font-weight: 300;
  font-size: 17px;
  color: $link3_color;
  &:hover {
    color: $link3_hover_color;
  }
}